@import "tailwindcss";

@theme {
  --font-sans:
    var(--font-manrope), ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  --font-calsans: var(--font-calsans), sans-serif;

  --color-brightred-25: #fff4f5;
  --color-brightred-50: #f8e4e6;
  --color-brightred-100: #fbc4cb;
  --color-brightred-200: #ff8c97;
  --color-brightred-300: #fc6375;
  --color-brightred-400: #fe4258;
  --color-brightred-500: #df1a30;
  --color-brightred-600: #8d0b1c;
  --color-brightred-700: #620a16;
  --color-brightred-800: #43040d;
  --color-brightred-900: #000000;

  --color-coolgray-25: #f6f9ff;
  --color-coolgray-50: #e4e9f7;
  --color-coolgray-100: #b2bdd4;
  --color-coolgray-200: #97a7c0;
  --color-coolgray-300: #7c92ac;
  --color-coolgray-400: #617d99;
  --color-coolgray-500: #466883;
  --color-coolgray-600: #35556b;
  --color-coolgray-700: #214257;
  --color-coolgray-800: #112a3c;
  --color-coolgray-900: #011219;

  /* Gradients */
  --color-gradient-01: linear-gradient(90deg, #ff233b 0%, #0b1f34 100%);
  --color-gradient-02: linear-gradient(90deg, #ff233b 0%, #466883 100%);
  --color-gradient-03: linear-gradient(90deg, #0b1f34 0%, #466883 100%);
  --color-gradient-04: linear-gradient(90deg, #b2bcd4 0%, #0b1f34 100%);
  --color-gradient-05: linear-gradient(90deg, #b2bcd4 0%, #ff233b 100%);
  --color-gradient-06: linear-gradient(170deg, #DF1A30 0%, #A70E1F 100%);
  --color-gradient-07: linear-gradient(170deg, #0A1F2D 0%, #0A1F2D 100%);

  /* Primary Colors */
  --color-primary-red: #ff233b;
  --color-primary-gray-900: #0b1f34;
  --color-primary-gray-500: #466883;

  /* Secondary Colors */
  --color-secondary-gray-400: #617d99;
  --color-secondary-gray-100: #fcfcff;
}

@layer components {
  .bg-gradient-01 {
    background: var(--color-gradient-01);
  }

  .bg-gradient-02 {
    background: var(--color-gradient-02);
  }

  .bg-gradient-03 {
    background: var(--color-gradient-03);
  }

  .bg-gradient-04 {
    background: var(--color-gradient-04);
  }

  .bg-gradient-05 {
    background: var(--color-gradient-05);
  }

  .bg-gradient-06 {
    background: var(--color-gradient-06);
  }

  .hover\:bg-gradient-06:hover {
    background: var(--color-gradient-06);
  }

  .bg-gradient-07 {
    background: var(--color-gradient-07);
  }

  .hover\:bg-gradient-07:hover {
    background: var(--color-gradient-07);
  }
}