@import "tailwindcss";

@theme {
  --font-sans: var(--font-manrope), ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  --font-calsans: var(--font-calsans), sans-serif;

  --color-brightred-25: #FFF4F5;
  --color-brightred-50: #F8E4E6;
  --color-brightred-100: #FBC4CB;
  --color-brightred-200: #FF8C97;
  --color-brightred-300: #FC6375;
  --color-brightred-400: #FE4258;
  --color-brightred-500: #DF1A30;
  --color-brightred-600: #8D0B1C;
  --color-brightred-700: #620A16;
  --color-brightred-800: #43040D;
  --color-brightred-900: #000000;

  --color-coolgray-25: #F6F9FF;
  --color-coolgray-50: #E4E9F7;
  --color-coolgray-100: #B2BDD4;
  --color-coolgray-200: #97A7C0;
  --color-coolgray-300: #7C92AC;
  --color-coolgray-400: #617D99;
  --color-coolgray-500: #466883;
  --color-coolgray-600: #35556B;
  --color-coolgray-700: #214257;
  --color-coolgray-800: #112A3C;
  --color-coolgray-900: #011219;

  /* Gradients */
  --color-gradient-01: linear-gradient(90deg, #FF233B 0%, #0B1F34 100%);
  --color-gradient-02: linear-gradient(90deg, #FF233B 0%, #466883 100%);
  --color-gradient-03: linear-gradient(90deg, #0B1F34 0%, #466883 100%);
  --color-gradient-04: linear-gradient(90deg, #B2BCD4 0%, #0B1F34 100%);
  --color-gradient-05: linear-gradient(90deg, #B2BCD4 0%, #FF233B 100%);

  /* Primary Colors */
  --color-primary-red: #FF233B;
  --color-primary-gray-900: #0B1F34;
  --color-primary-gray-500: #466883;

  /* Secondary Colors */
  --color-secondary-gray-400: #617D99;
  --color-secondary-gray-100: #FCFCFF;

}

@layer components {
  .bg-gradient-01 {
    background: var(--color-gradient-01);
  }

  .bg-gradient-02 {
    background: var(--color-gradient-02);
  }

  .bg-gradient-03 {
    background: var(--color-gradient-03);
  }

  .bg-gradient-04 {
    background: var(--color-gradient-04);
  }

  .bg-gradient-05 {
    background: var(--color-gradient-05);
  }
}
