.dangerouslySetInnerHTML pre {
  color: #FF233B;
  font-size: 16px;
  margin-bottom: 1rem;
}

.dangerouslySetInnerHTML div {
  margin-bottom: 0.5rem;
  color: var(--color-gray-500);
}

.dangerouslySetInnerHTML p {
  margin-bottom: 0.5rem;
  color: var(--color-gray-500);
}

.data-content > :nth-child(even) {
  background-color: #F6F9FF;
}

.dangerouslySetInnerHTML a {
  color: #FF233B;
}

.dangerouslySetInnerHTML a:hover {
  text-decoration: underline;
}
