.dangerouslySetInnerHTML pre {
  color: #FF233B;
  font-size: 16px;
  margin-bottom: 1rem;
}

.dangerouslySetInnerHTML p {
  margin-bottom: 0.5rem;
}

.data-content > :nth-child(even) {
  background-color: #F6F9FF;
}